body{
   background-size: cover;
   background-position: center;
  }
.landtitle{
   text-align:center;
   /* padding-top: 25%; */
   height: 100%;
   margin: 0% auto;
   margin-top: 200px;
  }
h1{
   font-family: 'Anton', sans-serif;
   font-size: 90px;
   color: white;
}
.navbar{
   background-color: #5CDB95;
}
.carousel-inner img {
   width: 100%;
   height: 100%;
 }

 #player {
 width: 100%;
}​